@import 'tailwindcss';
@import 'tw-animate-css';
@import '@shikijs/vitepress-twoslash/style.css';

@import './styles/animation.css';
@import './styles/code.css';
@import './styles/daisyui.css';
@import './styles/themes.css';
@import './styles/twoslash.css';
@import './styles/vitepress-code.css';

:root {
  --radius-sm-shadcn: calc(var(--radius) - 4px);
  --radius-md-shadcn: calc(var(--radius) - 2px);
  --radius-md-shadcn: var(--radius);
  --radius-lg-shadcn: calc(var(--radius) + 4px);
}

/**
 * Remove conflicting theme variables.
 * https://daisyui.com/docs/utilities/#theme-css-variables
 */
@theme inline {
  /*
  --radius-sm: var(--radius-sm-shadcn, var(--radius-sm));
  --radius-md: var(--radius-md-shadcn, var(--radius-md));
  --radius-lg: var(--radius-lg-shadcn, var(--radius-lg));
  --radius-xl: var(--radius-xl-shadcn, var(--radius-xl));
  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary, var(--color-primary));
  --color-primary-foreground: var(--primary-foreground, var(--color-primary-content));
  --color-secondary: var(--secondary, var(--color-secondary));
  --color-secondary-foreground: var(--secondary-foreground, var(--color-secondary-content));
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent, var(--color-accent));
  --color-accent-foreground: var(--accent-foreground, var(--color-accent-content));
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@plugin "@iconify/tailwind4";

@plugin "tailwindcss-animate";

@plugin 'daisyui' {
  themes: all;
}

@plugin "daisyui/theme" {
  name: light;
}

/** Propagate the name of the data-theme as a CSS variable. */
html {
  --data-theme: attr(data-theme);
}
